@import "tailwindcss";

@theme {
  --font-sans: 'Nunito', sans-serif;

  --color-background: var(--bg);
  --color-surface: var(--surface);
  --color-line: var(--line);
  --color-toggle: var(--toggle);

  --color-textMain: #F9FAFB;
  /* Gray 50 */
  --color-textSec: #9CA3AF;
  /* Gray 400 */
  --color-planes: #60A5FA;
  /* Blue 400 */
  --color-comer: #FB923C;
  /* Orange 400 */
}

@layer base {
  :root {
    /* Planes (Default) - Cool Gray/Blueish */
    --bg: #111827;
    /* rgb(17, 24, 39) */
    --surface: #1F2937;
    /* rgb(31, 41, 55) */
    --line: #334155;
    /* rgb(51, 65, 85) */
    --toggle: #0F172A;
    /* rgb(15, 23, 42) */
  }

  body.theme-comer {
    /* Comer - Warm Gray/Orangeish */
    --bg: #1F1916;
    /* rgb(31, 25, 22) */
    --surface: #372C27;
    /* rgb(55, 44, 39) */
    --line: #524641;
    /* rgb(82, 70, 65) */
    --toggle: #17120F;
    /* rgb(23, 18, 15) */
  }

  body {
    background-color: var(--bg);
    color: var(--color-textMain);
    font-family: var(--font-sans);
    overscroll-behavior-y: none;
    transition: background-color 0.3s ease;
  }
}

@layer utilities {

  /* Hide scrollbar for clean UI */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}